/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /** colors*/
  --black: hsl(225, 25%, 9%);
  --eerie-black: hsl(0deg 0% 39%);
  --blush: hsla(0, 62%, 39%, 0.541);
  --white: hsl(0, 100%, 100%);
  --red: hsl(0deg 100% 50%);
  /** typography */
  --fs-1: 36px;
  --fs-2: 18px;
  --fs-4: 24px;
  --fs-8: 15px;
  --fs-9: 14px;
  --fs-11: 12px;
  --fw-500: 500;
  --fw-700: 700;
  /** transition*/
  --transition-1: 0.15s ease;
  --transition-2: 0.25s ease-in;
}
/*-----------------------------------*\
     * #RESET
    \*-----------------------------------*/
li {
  list-style: none;
}

a {
  text-decoration: none;
}
a,
img,
span {
  display: block;
}

.container {
  padding-inline: 15px;
}
/*-----------------------------------*\
     * #HEADER
    \*-----------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 10px;
  background-color: #00000052;
  transition: var(--transition-2);
  z-index: 4;
}

.header.active {
  background: var(--eerie-black);
  padding-block: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-actions {
  display: none;
}

.menu-open-btn,
.menu-close-btn {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  padding: 5px;
}

.navbar {
  position: fixed;
  top: 0;
  right: -300px;
  background: var(--eerie-black);
  width: 100%;
  max-width: 300px;
  height: 100%;
  box-shadow: -1px 0 3px hsl(0, 0%, 0%, 0.2);
  transition: 0.15s ease-in;
  visibility: hidden;
  z-index: 3;
}

.navbar.active {
  right: 0;
  visibility: visible;
  transition: 0.25s ease-out;
}

.navbar-top {
  padding: 30px 25px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-link {
  color: var(--white);
  font-size: var(--fs-8);
  font-weight: var(--fw-500);
  width: max-content;
  padding: 10px 25px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) {
  color: var(--blush);
}

.logo img {
  width: 150px;
}
/**session*/
.session {
  color: var(--white);
  font-size: var(--fs-11);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  margin: auto;
  padding-bottom: 3px;
  align-items: center;
  border: 2px solid var(--blush);
  border-radius: 50px;
  transition: var(--transition-1);
  background: var(--black);
}
.session:is(:hover, :focus) {
  background: var(--blush);
  color: var(--eerie-black);
}
.items {
  border: 2px solid var(--red);
  background-color: var(--red);
  padding: 2px;
  border-radius: 50px;
  font-size: var(--fs-8);
}

/*-----------------------------------*\
     * #MEDIA QUERIES
    \*-----------------------------------*/

/**responsive for large than 550px screen*/

@media (min-width: 550px) {
  :root {
    --fs-1: 42px;
  }
  .container {
    max-width: 540px;
    margin-inline: auto;
  }
}
/**responsive for large than 768px screen*/
@media (min-width: 768px) {
  :root {
    --fs-2: 26px;
  }
  .container {
    max-width: 720px;
  }
  .header .container {
    gap: 30px;
  }
  .header-actions {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 35px;
  }

  /**responsive for large than 992px screen*/
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
    .header.active {
      padding-block: 5px;
    }

    .menu-open-btn,
    .navbar-top {
      display: none;
    }
    .navbar {
      all: unset;
      margin-left: auto;
      display: inline-flex;
    }
    .header-actions {
      order: 1;
      margin-left: 0;
    }
    .navbar-list {
      all: unset;
      display: flex;
      align-items: center;
      margin-right: 40px;
      gap: 10px;
    }
    .navbar-link {
      border-bottom: none;
      font-size: var(--fs-9);
      font-weight: var(--fw-700);
      text-transform: uppercase;
      padding: 30px 15px;
    }

    /**responsive for large than 1200px screen*/
    @media (min-width: 1200px) {
      :root {
        --fs-1: 60px;
        --fs-4: 26px;
      }
      .container {
        max-width: 1320px;
      }
      .navbar {
        margin-inline: auto;
      }
      .session {
        margin-left: 50%;
      }
    }
  }
}


